.modal {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	background-color: #112B3C;
	color: #fff;
	z-index: 1;
}

.modal h2 {
	font-size: 2.5rem;
	margin-bottom: 1em;
}

.modal p {
	font-size: 2rem;
	margin: 0.25em 0;
}

.modal button {
	font-size: 1.75rem;
	margin-top: 2em;
	padding: 0.8em 1.8em;
	cursor: pointer;
	border-radius: 0.75em;
	border: none;
	transition: background-color .3s, color .3s;
}

.modal button:hover {
	background-color: #000;
	color: #fff;
}
