.modal {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	background-color: var(--modal-background);
	color: var(--primary);
	z-index: 1;
	text-align: center;
}

.modal h1 {
	font-size: 2.5rem;
	margin: 1em 0.25em;
}

.modal p {
	font-size: 2rem;
	margin: 0.25em 0;
}

.modal button {
	font-size: 1.75rem;
	margin-top: 2em;
	padding: 0.8em 1.8em;
	cursor: pointer;
	border-radius: 0.75em;
	border: none;
	transition: background-color 0.3s, color 0.3s;
}

.modal button:hover {
	background-color: var(--button-hover);
	color: var(--primary);
}

.stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}