.resetButton {
	font-size: 1rem;
	padding: 0.8em 1.4em;
  height: 100%;
	cursor: pointer;
	border-radius: 0.75em;
	border: none;
  background-color: var(--modal-background);
  color: var(--primary);
	transition: background-color 0.3s;
}

.resetButton:hover {
	background-color: var(--button-hover);
}
