.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1em;
  min-height: 100vh;
}
